.bot {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 15px;
  right: 15px;
  z-index: 100;
}

.disabled {
  display: none;
}

.btnMessage {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 100;
  bottom: 15px;
  right: 15px;
  background-color: #0d6dfc;
  color: white;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 3px 3px 15px #062e69;
}

.hQsUiY {
  background-color: #0d6dfc;
}
.ipSaXD {
  background-color: #0d6dfc;
}

.glfuN {
  background-color: #084299;
}


