.container {
	display: flex;
	justify-content: center;
  background-color: #E7E7E7;
}

.titulo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titulo h3 {
  font-family: 'Poppins', sans-serif;
  width: 90%;
  text-align: center;
	margin-bottom: 1rem;
	border-bottom: 1px solid #CFCFCF;
}

.form {
	background-color: #FFFFFF;
	border-radius: 0.5rem;
	margin: 1rem;
	padding: 2rem;
	width: 40rem;
  border: 1px solid #CFCFCF;
}

.row {
	display: flex;
	justify-content: center;
	flex-direction: row;
  margin-top: 1rem !important;
}

.col {
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
}

.col label {
  font-family: 'Poppins', sans-serif;
}

.buttonSubmit {
	width: 100%;
}
