h1{
    text-transform: uppercase;
    color: rgb(16, 134, 213);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
.Info{
    display: flex;
    margin: 50px;
    padding: 10px;
   justify-content: space-between; 
}
/* .info1{
    margin-right: 200px;
} */

.botones{
    display: flex;
    flex-direction: row;
}

.botones1{
    width: 50%;
    margin: 30px;
}
.botones2{
    width: 50%;
    margin: 30px;
}