.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 78%;
  margin: 2rem 0 2rem 0;
}

.turnosContenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem;
  border-radius: 5rem;
  box-shadow: 0.2rem 0.2rem 0.8rem #868686;
  width: 45%;
}

.turnos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.prueba {
  height: 90%;
}

.turnoItem {
  margin-top: 3rem;
}

.notes {
  width: 45%;
}

.titulo h3 {
  margin: 0;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #AEAEAE;
}
.titulo p {
  margin: 1rem 0;
}
