.dinero {
    color: red;
}

.container-graf{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.box1{
    max-width: 48%;
}

.box2{
    max-width: 48%;
}