#row {
    width: 100%;
}

#NavBar-About {
    width: 25%;
    padding-left: 2.25%;
}

#Margin-Top-About {
    margin-top: 25px;
}

.Info-About {
    width: 80%;
    margin-top: 25px;
    padding-left: 5%;
    padding-right: 5%;
}


