.footer {
	background-color: #001bac;
	color: white;
	width: 100%;
  position: relative;
}

.container {
	display: flex;
  flex-wrap: wrap;
	justify-content: space-around;
	height: 20rem;
}

.left {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 6rem;
	width: 45%;
	margin-top: 5rem;
  padding-left: 5rem;
}

.left img {
	width: 8rem;
}

.left p {
	text-align: center;
  margin: 0 0 0 1rem;
}

.right {
	display: flex;
	justify-content: center;
	width: 45%;
	margin-top: 4rem;
	column-gap: 10rem;
	height: 6rem;
}

.salud,
.unete {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.salud h5,
.unete h5 {
	font-weight: bold;
  margin-bottom: 1rem;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.links a,
.links p {
	margin: 0;
	text-decoration: none;
	color: white;
}

.links a:hover {
	color: white;
	text-decoration: underline;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  width: 90%;
  height: 2rem;
}

.arrow {
  background-color: #00149D;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  padding: .8rem;
  top: -30px;
  right: 50px;
  transition: background-color 0.5s;
  box-shadow: 1px 1px 4px #030058;
}

.arrow:hover {
  background-color: #0018BF;
}


