.container {
	display: flex;
	justify-content: center;
	background-color: #e7e7e7;
}

.titulo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titulo h3 {
	font-family: 'Poppins', sans-serif;
	width: 90%;
	text-align: center;
	margin-bottom: 1rem;
	border-bottom: 1px solid #cfcfcf;
}

.form {
	background-color: #ffffff;
	border-radius: 0.5rem;
	margin: 1rem;
	padding: 2rem;
	width: 40rem;
	border: 1px solid #cfcfcf;
}

.row {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 0 !important;
}

.col {
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
}

.vacunas {
  border: 1px solid #D2D2D2;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: .4rem;
}

.tabla {
  margin-top: 1rem;
	padding: 0;
}

.fila {
	display: flex !important;
	justify-content: space-between;
	align-items: center;
	padding: 0.3rem !important;
}

.col label {
	font-family: 'Poppins', sans-serif;
}

.buttonSubmit {
	width: 100%;
}

.lista {
	padding: 0;
	list-style: none;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
}
