#div-general-login {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 5%;
}

#div-image-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-logIn {
    background: #0d6dfc;
    border-radius: 15px;
    padding: 7.5px;
}

#name-login {
    margin-right: 15px;
}