.portada {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
}

.portada img {
	width: 40rem;
	height: 40rem;
}

.portada p {
	font-size: 2rem;
	color: black;
	top: 5rem;
	left: 5rem;
	font-family: 'Poppins', sans-serif;
}
